<div class="container-fluid mt-4 ps-5"> <!-- Removed side spacing -->
    <div class="row gx-3 align-items-stretch"> <!-- Moderate space between cards -->
        <!-- first card in the row -->
        <div class="col-md-5 d-flex">
            <div class="card flex-fill">
                <div class="sender-header">Sender Details</div>
                <div class="card-body mt-1">
                    
                        <div class="d-flex justify-content-between mt-1">
                            <label style="width: 105px;">Id type</label>
                            <input type="text" class="col-3">
                            <input type="text" class="col-6">
                            <button class="search-icon">🔍</button>
                        </div>
                        <div class="d-flex justify-content-between mt-1">
                            <label style="width: 95px;">Sender Name</label>
                            <input type="text" class="col-9">
                            <button class="search-icon">🔍</button>
                        </div>
                        <div class="d-flex justify-content-between mt-1">
                            <label style="width: 90px;">Mobile1</label>
                            
                            <input class="number-input col-1"  type="" value="+91" readonly>
                            <input class="col-2" type=""/>
                            <button class="search-icon">🔍</button>
                           
                            <label class="mt-1">WhatsApp</label>
                            
                            <input class="number-input col-1" type="" value="+91" readonly>
                            <input class="col-2"  type=""/>
                            
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label style="width:80px;">Address</label>
                        <input type="textarea" value="ADMIN" class="col-10"/>
                        
                    </div>
                    <div class="shipment-group">
                        <div class="section-title">Shipment Details</div>
                        <span class="line"></span>
                        <div class="invoice-date">Invoice Date:</div>
                        <span class="line"></span>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label style="width: 90px;">Transit Type</label>
                        <select class="col-4" >
                            <option value="air">AIR</option>
                            <option value="sea">SEA</option>
                            <option value="road">ROAD</option>
                        </select>
                        <label>Service Type</label>
                        <select class="col-4">
                            <option value="">Select</option>
                            <option value="express">Express</option>
                            <option value="standard">Standard</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label>To Country</label>
                        <select class="col-4">
                            <option value="india">INDIA</option>
                            <option value="usa">USA</option>
                            <option value="uk">UK</option>
                        </select>
                        <label>Region</label>
                        <select class="col-4">
                            <option value="">Select</option>
                            <option value="north">North</option>
                            <option value="south">South</option>
                        </select>
                    </div>
                    
                </div>
            </div>
        </div>
         <!-- Second Card -->
         <div class="col-md-5 d-flex">
            <div class="card flex-fill">
                <div class="sender-header">Receiver Details</div>
                <div class="receiver-header">Sender based Receiver <span class="badge bg-danger">0</span></div>
                <div class="card-body mt-1">
                    
                        <div class="d-flex justify-content-between mt-1">
                            <label style="width:105px;">Id type</label>
                            <input type="text" class="col-3">
                            <input type="text" class="col-6">
                            <button class="search-icon">🔍</button>
                        </div>
                        <div class="d-flex justify-content-between mt-1">
                            <label style="width:95px;">Receiver Name</label>
                            <input type="text" class="col-9">
                            <button class="search-icon">🔍</button>
                        </div>
                        <div class="d-flex justify-content-between mt-1">
                            <label>Address</label>
                            <input type="textarea" value="ADMIN" class="col-10"/>
                            
                        </div>
                       
                        <div class="d-flex justify-content-between mt-1">
                            <label style="width:104px;">Mobile1</label>
                            
                            <input class="number-input  col-1" type=""  value="+91" readonly>
                            <input class="col-2" type=""/>
                            <button class="search-icon">🔍</button>
                           
                            <label>WhatsApp</label>
                            
                            <input class="number-input" type="" value="+91" readonly>
                            <input class="col-3" type=""/>
                            
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label style="width:85px">Pincode</label>
                        <input type="text" class="col-4"/>
                        <label style="width:50px">State</label>
                        <select class="col-4">
                            <option value="tamilnadu">TamilNadu</option>
                            <option value="kerala">Kerala</option>
                            <option value="karnataka">Karnataka</option>
                        </select>
                    </div>
        
                    <div class="d-flex justify-content-between mt-1">
                        <label style="width:85px">District</label>
                        <select class="col-4">
                            <option value="madurai">Madurai</option>
                            <option value="kaniyakumari">Kaniyakumari</option>
                            <option value="salem">Salem</option>
                        </select>
                        <label  style="width:50px">Taluk</label>
                        <select class="col-4">
                            <option value="">Tambaram</option>
                            <option value="">Agastheeswaram</option>
                            <option value="">Thovalai</option>
                        </select>
                    </div>
        
        
                    <div class="d-flex justify-content-between mt-1">
                        <label style="width:85px">P.Office</label>
                        <select class="col-4">
                            <option value="">Eathamozhi</option>
                            <option value="">Tambaram</option>
                            <option value="">Pallavaram</option>
                        </select>
                        <label  style="width:50px">E mail</label>
                        <input type="text" class="col-4"/>
                    </div>
                   
                    
                </div>
            </div>
        </div>
<!-- Third Card -->
<div class="col-md-2 d-flex">
<div class="card flex-fill">
    <div class="sender-header">Shipment Details</div>
    <div class="card-body mt-1">
            <div class="d-flex justify-content-between mt-1 p-1">
                <label>Bill No</label>
                <input type="text" class="col-6">
                
            </div>
    
            <div class="d-flex justify-content-between mt-1 p-1">
                <label>Agent</label>
                        <select class="col-6">
                            <option value="">Select</option>
                            <option value="">Ready Fork</option>
                            <option vale="">Express Exports</option>                          
                        </select>
            </div>
    
            <div class="d-flex justify-content-between mt-1 p-1">
                <label>
                RefNo
                </label>
                <input type="text" class="col-6">
                
            </div>
            
    
            <div class="d-flex justify-content-between mt-1 p-1">
                <label>
                    Rate
                </label>
                <input type="text" class="col-6">
                
            </div>
    
            <div class="d-flex justify-content-between mt-1 p-1">
                    <label>Payment</label>
                    <select class="col-6">
                        <option value="">Select</option>
                        <option value="cash">CASH</option>
                        <option value="">Bank transfers</option>
                        <option value="">Google Pay</option>
                    </select> 
            </div>
            <div class="d-flex justify-content-between mt-1">
                <button class="btn btn-success ms-5 mt-1">Save & Print</button>      
            </div>
            
           
            
      </div>
      
    </div>
</div>


    
    </div>

    <div class="row gx-3 mt-5 align-items-stretch"> <!-- Moderate space between cards -->
      <!-- first card -->
        <div class="col-md-5 d-flex">
            <div class="card flex-fill">
                <div class="sender-header">Item Details</div>
                <div class="card-head">
                    <div class="total-items-container">
                        <span>Total Items: <span class="total-items">0</span></span>
                    </div>
                    <div class="qty-controls">
                        <button class="btn-qty">-</button>
                        <span class="total-items">1</span>
                        <button class="btn-qty">+</button>
                    </div>
                </div>
                <div class="card-body">
                   
                    <div class="table-container">
                        <table class="table table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th style="width: 50px;">S.n</th>
                                    <th style="width: 80px;">Ctn no</th>
                                    <th>Item Name</th>
                                    <th style="width: 80px;">Qty</th>
                                    <th style="width: 80px;">Unit Price</th>
                                    <th style="width: 80px;">Val Amt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><input type="number" class="form-control small-input" value="1"></td>
                                    <td>
                                        
                                            <select class="form-control" style="padding: 8px;">
                                                <option value="">Select Item</option>
                                                <option value="item1">Item 1</option>
                                                <option value="item2">Item 2</option>
                                                <option value="item3">Item 3</option>
                                            </select>
                                          
                                        
                                    </td>
                                    <td><input type="number" class="form-control small-input" value="1"></td>
                                    <td><input type="number" class="form-control small-input" value="0"></td>
                                    <td><input type="number" class="form-control small-input" value="0" readonly></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  
                </div>
            </div>
        </div>
         <!-- Second card -->
         <div class="col-md-5 d-flex ">
            <div class="card flex-fill">
                <div class="sender-header">Carton Details</div>
                <div class="card-body">
                    
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="total-details">
                            <strong>Total Weight:<span class="badge bg-danger">0</span> </strong>
                            <strong>Total Carton:<span class="badge bg-danger">0</span> </strong>
                        </div>
                    </div>
        
                    <div class="d-flex m-1">
                        <div class="right">
                            <div class="d-flex justify-content-between mt-1">
                                <label >Carton No</label>
                                <input type="text" class="col-7">
                            </div>
                        
                            <div class="d-flex justify-content-between mt-1">
                                <label >Carton Weight</label>
                                <input type="text" class="col-7">
                            </div>
                        
                            <div class="d-flex justify-content-between mt-1">
                                <label >Remarks</label>
                                <input type="text" class="col-7">
                            </div>
                        
                            <div class="d-flex justify-content-around mt-2">
                                <button class="btn btn-success">Update</button>
                                <button class="btn btn-danger">Cancel</button>
                            </div>
                        
                            <div class="d-flex justify-content-between mt-1">
                                <label >Packed By</label>
                                <input type="text" class="col-7">
                            </div>
                        
                            <div class="d-flex justify-content-between mt-1">
                                <label>Zone</label>
                                <select class="col-7">
                                    <option value="">Select Zone</option>
                                    <option value="Zone 1">Zone 1</option>
                                    <option value="zone 2">Zone 2</option>
                                </select>
                            </div>
                        
                            <div class="d-flex justify-content-between mt-1">
                                <label>Remarks</label>
                                <input type="text" class="col-7">
                            </div>
                        </div>
                        <div class="left ms-5 flex-fill">
                            <table class="table table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="">Carton No</th>
                                        <th class="">C. Weight</th>
                                        <th class="">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3" class="text-center"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Third Card (Aligned at the end) -->
        <div class="col-md-2 d-flex">
            <div class="card flex-fill">
                <div class="sender-header">Amount Details</div>
                <div class="card-body mt-3">
                    <div class="d-flex justify-content-between align-items-center mt-1">
                        <label>Freight Charge</label>
                        <input type="text" value="0.01" readonly class="col-5">
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label>Packing</label>
                        <input type="text" value="0.01" readonly class="col-5">
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label>Bill Change</label>
                        <input type="text" value="0.01" readonly class="col-5">
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label>Extra</label>
                        <input type="text" value="0.01" readonly class="col-5">
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label>Bill Amt</label>
                        <input type="text" value="0.01" readonly class="col-5">
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label>Discount</label>
                        <input type="text" value="0.01" readonly class="col-5">
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label>VAT</label>
                        <input type="text" value="0.01" readonly class="col-5">
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label>Total Amt</label>
                        <input type="text" value="0.01" readonly class="col-5">
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label>Received</label>
                        <input type="text" value="0.01" readonly class="col-5">
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <label>Balance</label>
                        <input type="text" value="0.01" readonly class="col-5">
                    </div>
        
                </div>
            </div>
        </div> 







    </div>






</div>
